psycopg2-binary
Flask
Flask-Login
Flask-Sqlalchemy
Flask-Migrate
Flask-Bootstrap4
Flask-WTF
Flask-Uploads
Flask-Assets
Flask-SSLify
Flask-Caching
flask-debugtoolbar
Flask-Limiter
rauth
gunicorn
xmltodict
python-dateutil
pipdeptree
dropbox
redis
