th {
    border: 1px solid black;
    background-color: lightgreen;
    height: 30px;
    font-weight: bold;
    text-align: center;
    background-color: lightgreen;
    padding-right: 20px;
    padding-left: 20px;

}
tr:nth-child(even) {
   background-color: #DFDCDB;
}
.num-padding {
    padding-right: 5px;
}
.txt-padding {
    padding-left: 5px;
}
.tr-foot {
    padding-right: 5px;
}
tfoot {
    border: none;
}
div.table-responsive {
    padding: 15px;
}

#rm_pkgs {
    display: none;
    float: right;
    border-radius: 12px;
}
