<html>
    <head>
        <title>Track Aliexpress Packages</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='info.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}">
    </head>
    <body>
        <table align="center" border="1">
            <tr>
                <th width="120px">Tracking #</th>
                <th>Shipped ago (days)</th>
                <th width="120px">Info/Date</th>
                <th width="120px">Notice</th>
                <th width="300px">Item name</th>
            </tr>
            <tfoot>
                <tr>
                  <td align="center" colspan="5"><font color="grey">Total: {{ data.info.total }} / Waiting: {{ data.info.waiting }} / Arrived: {{ data.info.arrived }}</font></td>
                </tr>
            </tfoot>
            {% for item in data.packages %}
                <tr>
                    {% if item.notice %}
                        <td align="center">
                            <a href={{ url_for('pkg_details', track_no=item.track_no, item_name=item.pkg_name)}} target="_blank">{{ item.track_no }}</a></td>
                    {% else %}
                        <td align="center">{{ item.track_no }}</a></td>
                    {% endif %}
                    <td class="num-padding" align="right">{{ item.shipped_ago }}</td>
                    <td align="center">{{ item.info_date }}</td>
                    <td class="txt-padding">{{ item.notice }}</td>
                    <td class="txt-padding">{{ item.pkg_name }}</td>
                </tr>
            {% endfor %}
            <tr></tr>
        </table>
    </body>
</html>
