{% extends "bootstrap/base.html" %}

{% block styles %}
    {{ super() }}
    {% assets "css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
    {% assets "img" %}
        <link rel="shortcut icon" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% assets "js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script>
        setTimeout("$('.alert').slideUp('slow')", 5000)
    </script>
{% endblock %}

{% block title %}Track Packages{% endblock %}

{% block content %}
    {{ super() }}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'message' %}
                    <div class="alert alert-warning" role="alert" align="center">
                {% else %}
                    <div class="alert alert-{{ category }}" role="alert" align="center">
                {% endif %}
                <strong>{{ category|title }}! </strong>{{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% if current_user.is_authenticated %}
        <div class="profile">
            <div class="logged_as">
                Logged as: <strong id="logged-username">{{ current_user.username }}</strong>
            </div>
            &nbsp;&nbsp;
            <a href="{{ url_for('logout') }}">Logout</a><br><br>
            {% if g.page == 'info' %}
                <a href="{{ url_for('profile') }}">View profile</a>
            {% endif %}
            {% if g.page == 'profile' %}
                <a href="{{ url_for('info') }}" onclick="loading()">Go back</a>
            {% endif %}
        </div>
    {% endif %}
    <div class='loading'></div>
    {% block footer %}
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="span8 offset2">
                         <hr>
                        <p><strong> &copy {{ now.year }} {{ name }} </strong></p>
                    </div>
                </div>
            </div>
            {% if cached == True %}
                <p class="cache-timer">{{ cache_timeout }}</p>
            {% endif %}
        </div>
    {% endblock footer %}
{% endblock %}
