{% extends "base.html" %}

{% block scripts %}
    {{ super() }}
    {% assets "js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block title %}Track Packages{% endblock %}

{% block content %}
    {{ super() }}

    {% include 'auth_modal_dialogs.html' %}

    <div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form">
      <input type="text" placeholder="username"/>
      <input type="password" placeholder="password"/>
      <button>login</button>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>

<a class="btn btn-social-icon btn-facebook">
  <span class="fa fa-facebook"></span>
</a>

<a class="btn btn-social-icon btn-google">
  <span class="fa fa-google"></span>
</a>
</div>
{% endblock %}
