{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    {% assets "css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% assets "js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block title %}Track Packages{% endblock %}

{% block content %}
    {{ super() }}
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover table-sm ">
            <thead class="thead-light">
                <tr>
                    <th>Tracking #</th>
                    <th>Shipped ago (days)</th>
                    <th>Info/Date</th>
                    <th>Notice</th>
                    <th>Item name</th>
                </tr>
            </thead>
            <tbody>
            {% for item in data.packages %}
                {% if item.notice %}
                    <tr class="table-info">
                        <td align="txt-padding">
                            <a href={{ url_for('pkg_details', track_no=item.track_no, item_name=item.pkg_name)}} target="_blank">{{ item.track_no }}</a></td>
                {% else %}
                    <tr>
                        <td class="txt-padding">{{ item.track_no }}</a></td>
                {% endif %}
                    <td class="num-padding" align="right">{{ item.shipped_ago }}</td>
                    <td align="center">{{ item.info_date }}</td>
                    <td class="txt-padding">{{ item.notice }}</td>
                    <!-- <td class="txt-padding">{{ item.pkg_name }} <button type="button" style="float: right; border-radius: 12px;">Remove</button></td> -->
                    <td class="txt-padding">{{ item.pkg_name }}
                        {% if item.notice == "Ispora~ana" or item.track_no|length != 13 %}
                            <input type="checkbox" class="checkbox-info" style="float: right;" name="rm_pkg" value={{ item.track_no }}>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td align="center" colspan="5">
                        {% if data.info.waiting %}
                            <font color="grey">Total: {{ data.info.total }} / Waiting: {{ data.info.waiting }} / Arrived: {{ data.info.arrived }}</font>
                        {% else %}
                            <font color="grey">Total: {{ data.info.total }}</font>
                        {% endif %}
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modalNewSync">Add New Package</button>
                    </td>
                </tr>
            </tfoot>
        </table>
        <button type="button" id="rm_pkgs" class="btn" data-toggle="modal" data-target="#modalConfirm">Remove selected packages</button>

    </div>

    {% include 'modal_dialogs.html' %}

{% endblock %}
