{% extends "base.html" %}

{% block scripts %}
    {{ super() }}
    {% assets "js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block content %}
    {{ super() }}
    <div class="profile-page">
        <h1 class="display-4 text-center">Profile</h1>
        <br>
        <div class="form">
            <form action="/update_profile" method="post" novalidate>
                {{ up_form.hidden_tag() }}
                {{ up_form.username(size=32) }}
                {{ up_form.password(size=32) }}
                {{ up_form.password2(size=32) }}
                {{ up_form.submit(class_="btn-submit") }}
            </form>
            <div class="form-row">
                {% for item in data.linked %}
                    <a class="btn btn-block loginBtn loginBtn-{{ item }}"
                        href="{{ url_for('unlink', provider=item) }}">
                            Unlink {{ item|title }}
                    </a>
                {% endfor %}
                {% for item in data.unlinked %}
                    <a class="btn btn-block loginBtn loginBtn-{{ item }}"
                        href="{{ url_for('oauth_authorize', provider=item, link=1) }}">
                            Link with {{ item|title }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}